<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="School_Journal_App_VSProject.Properties.Settings.School_Journal_App_DBConnectionString"
            connectionString="Data Source=SKAER2-ПК\\SQLEXPRESS;Initial Catalog=School-Journal-App-DB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="School_Journal_App_VSProject.Properties.Settings.School_Journal_App_DBConnectionString1"
            connectionString="Data Source=DESKTOP-5LEEG3R;Initial Catalog=School-Journal-App-DB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>